* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: "public\bg.jfif";
  /* background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%); */
}

nav {
  width: 100vw;
  height: 100px;
  text-align: center;
  align-content: center;
  font-size: 2.4rem;
  background-color: rgb(134, 235, 235);
}
nav a {
  float: right;
  padding-right: 2rem;
  display: block;
  font-size: 1.5rem;
}
#displayQuotes {
  width: 100vw;
  height: 100px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#displayQuotes > p {
  height: auto;
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  background-color: rgb(223, 160, 160);
  border-radius: 8px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
}

.container {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* align-items: center; */
  background-color: #eceef5;
}
.sub-header {
  padding: 2 rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.subject-container {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}

.btn {
  font-size: 2.4rem;
  padding: 1.5rem;
  width: 15rem;
  text-align: center;
  color: rgb(241, 230, 230);
  background-color: rgb(27, 25, 23);
  border-radius: 5px;
  text-decoration: none;
}

.display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.display-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3);
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
